body, .content {
  background: #eee;
}

ul.list {
  margin-top: 10px;
}

ul.list li {
  padding: 13px 10px;
}

.space {
  padding-left: 70px !important;
}

.space .name {
  background: #ddd;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 43px;
  line-height: 43px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}